# DATABASE
DATABASE_PORT=5432
DATABASE_USER=postgres
DATABASE_PASSWORD=123456
# JWT
SECRET_KEY=lalallalallalallalallalal
# GOOGLE CLOUD STORAGE
PROJECT_ID=
PRIVATE_KEY=""
CLIENT_EMAIL=
STORAGE_BUCKET=
# IMGPROXY
IMGPROXY_KEY = 
IMGPROXY_SALT = 
IMGPROXY_URL = 
# E-MAIL OAUTH2
EMAIL_USER=
EMAIL_CLIENT_ID=
EMAIL_CLIENT_SECRET=
EMAIL_REDIRECT_URI=
EMAIL_REFRESH_TOKEN=
# REDIS
REDIS_HOST=127.0.0.1
REDIS_PORT=6379
REDIS_DB=4